{
  "env": {
    "node": true,
    "es6": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "linebreak-style": [
      "error",
      "unix"
    ],
    "no-undef": "off",
    "no-console": "off",
    "quotes": [
      "error",
      "single"
    ]
  }
}