{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6
  },
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "window": true,
    "document": true,
    "$": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "linebreak-style": [
      "error",
      "unix"
    ],
    "no-console": "off",
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ]
  }
}