
body {
  span.cavatina {
    opacity: 0;
    overflow: hidden;
  }

  &.is-loaded {
    span.cavatina {
      opacity: 1 !important;
      overflow: visible !important;
    }
  }
}

span.cavatina {
  height: 2rem;
  display: block;
  overflow: visible;
  resize: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 20px 0;
  transition: opacity .4s linear;

  color: black;
  font-family: "Cavatina US";
  font-size: 75pt;
  line-height: 0;
  white-space: pre;
  font-variant-ligatures: common-ligatures contextual;
  -moz-font-feature-settings: "liga" 1, "calt" 1;
  -moz-font-feature-settings: "liga=1, calt=1";
  -ms-font-feature-settings: "liga" 1, "calt" 1;
  -o-font-feature-settings: "liga" 1, "calt" 1;
  -webkit-font-feature-settings: "liga" 1, "calt" 1;
  font-feature-settings: "liga" 1, "calt" 1;

  &.multipart {
    height: auto;
    min-height: 124px;
    padding: 0;
    margin-top: -12px;
    line-height: 0.666;
  }
}

#notation-scale {
  display: block;
  margin: 6px 0 0px -104px;
  white-space: pre;
  font-size: 144px;
  font-family: "Cavatina US", sans-serif;
}

#example-note-length {
  background: url(../images/note-length.png) no-repeat;
  background-size: contain !important;
  height: 68px;
  width: 235px;
  margin: 0 -60px;

}

p > code.computer-key {
  background-color: #455a64;
  color: white;
  display: inline-block;
  padding: 2px 4px;
  border-radius: 2px;
  margin: -6px 3px;
  transform: translateY(2px);
  line-height: 17px;
}

.informaltable, .table {
  .title {
    color: #888;
  }
  table {
    border-collapse: collapse;
    tr {
      td, th {
        padding: 4px 6px;
      }
    }
    thead {
      tr, td, th {
        background-color: #c1d5e0;
      }
    }
    tbody {
      tr {
        th {
          text-align: left;
          padding: 4px 8px;
        }
        &:nth-child(2n) {
          background-color: #eee;
        }
      }
    }
    span.cavatina {
      margin: 12px;
      transform: translateY(15px);
    }
  }
}

.example-contents {
  .informaltable {
    table {
      border: 1px solid #c1d5e0;
      box-shadow: 1px 2px 2px #aaa4;
    }
  }
}