span.cavatina {
    height: 2rem;
    display: block;
    overflow: visible;
    resize: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 20px 0;
    color: black;
    font-family: 'Cavatina US';
    font-size: 75pt;
    line-height: 0;
    white-space: pre;
    font-variant-ligatures: common-ligatures contextual;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

.tableblock span.cavatina {
    margin-top: 20px;
}

span.cavatina.cavatina-multipart {
    height: auto;
    min-height: 124px;
    padding: 0 12.5pt;
    line-height: 50pt;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cavatina-input {
    margin: 1em 0;
}

.cavatina-input > textarea {
    border: 10px solid #eee;
    padding: 0 12px;
    width: 100%;
    line-height: 1;
    overflow: hidden;
    font-size: 144pt;
    font-family: 'Cavatina US';
    resize: none;
    color: black;
    font-variant-ligatures: common-ligatures contextual;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

.cavatina-input > textarea:focus {
    border-color: #e5e5e5;
}
